body,
html {
  background: #bce6eb !important;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  background: #bce6eb;
}
.vanilla-weather-app {
  font-family: "Pacifico", cursive;
  color: #fca3cc;
  background-color: #ffee93;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #fca3cc;
  border-radius: 15px;
}

.mainPicture {
  color: #fca3cc;
  font-size: 60px;
}
.picture {
  color: #fca3cc;
  font-size: 40px;
}
