body {
  background-image: url("../src/pictures/background.jpg");
}
html,
body {
  font-family: "Exo 2", sans-serif;
}

h1 {
  padding: 20px, 0, 20px, 0;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 60px;
}

h2 {
  margin: 0 auto;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #b25a49;
  transition: all 200ms ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #b25a49;
  transition: all 200ms ease-in-out;
  font-weight: bold;
  cursor: default;
}

small {
  color: #f15372;
  font-weight: bold;
}
a.contact {
  text-decoration: none;
  color: #f15372;
  transition: all 200ms ease-in-out;
}

a.contact:hover {
  color: #ffbd54;
  font-weight: bold;
}

a.active {
  color: #f15372;
  font-weight: bold;
}

a.active:hover {
  text-decoration: none;
}
div.col-sm-6.searchBar,
div.col-sm-3 {
  padding: 0;
  margin: 0;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #b25a49;
  color: #f15372;
  font-weight: bold;
}

.searchButton {
  color: #ffff;
  background-color: #f15372;
  width: 120px;
  font-size: 0.875rem;
  margin-left: 20px;
  font-weight: 900;
  padding: 0.5rem;
  line-height: 1.125rem;
  border-radius: 50px;
  box-shadow: 0 0.125rem 0 rgb(65, 61, 69, 20%);
  transition: all 200ms ease;
}
.searchButton:hover {
  background-color: #b25a49;
}
.searchButton:focus {
  color: #ffff;
  background-color: #f15372;
  font-size: 0.875rem;
  font-weight: 900;
  padding: 0.5rem;
  line-height: 1.125rem;
  border-radius: 50px;
  box-shadow: 0 0.125rem 0 rgb(65, 61, 69, 20%);
  transition: all 200ms ease;
}

.currentLocationButton {
  color: #ffff;
  background-color: #f15372;
  width: 120px;
  font-size: 0.875rem;
  font-weight: 900;
  padding: 0.5rem;
  line-height: 1.125rem;
  border-radius: 50px;
  box-shadow: 0 0.125rem 0 rgb(65, 61, 69, 20%);
  transition: all 200ms ease;
}
.currentLocationButton:hover {
  background-color: #b25a49;
}

.currentLocationButton:focus {
  color: #ffff;
  background-color: #f15372;
  font-size: 0.875rem;
  font-weight: 900;
  padding: 0.5rem;
  line-height: 1.125rem;
  border-radius: 50px;
  box-shadow: 0 0.125rem 0 rgb(65, 61, 69, 20%);
  transition: all 200ms ease;
}

.vanilla-weather-app-wrapper {
  margin: 80px auto;
  max-width: 700px;
}
.vanilla-weather-app {
  margin: 0 auto;
  color: #f15372;
  background-color: #ffdda5;
  padding: 40px;
  border: 5px solid #f15372;
  border-radius: 15px;
}

.col-sm.searchBar {
  padding: 0;
  margin: 0;
}
.col-sm-3.currentTime {
  padding: 0;
  margin: 0 auto;
}

.col-sm-6.currentCity {
  padding: 0;
  margin: 0 auto;
}
.col-sm-6.currentDescription {
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
  text-align: right;
  font-weight: 900;
  text-transform: capitalize;
}

.mainPicture {
  color: #b25a49;
  font-size: 120px;
  padding: 0;
  margin: 0 auto;
}
.col-sm-3.currentDetails {
  padding: 0;
  padding-left: 20px;
}
.sun {
  padding: 5px;
  padding-right: 10px;
}
.currentTemperature {
  font-size: 90px;
  margin: 0 auto;
  text-align: right;
  padding: 0;
  line-height: 60px;
}

.col-sm-1.units {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.col-sm-3.mainPicture {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 100px;
  padding-bottom: 20px;
}
.weather-forecast {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.weather-forecast-day {
  font-weight: bold;
}

.forecastIcon {
  color: #b25a49;
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.weather-forecast-tempreature-max {
  font-weight: bold;
}
.small.contact {
  font-weight: bold;
}
